@mixin bg-image($image) {
    background-image: url($image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .htmlproject-card-0 {
    @include bg-image("../../assets/images/html-section/animated-bg.jpg");
  }
  .htmlproject-card-1 {
    @include bg-image("../../assets/images/html-section/google-login.jpg");
  }
  .htmlproject-card-2 {
    @include bg-image("../../assets/images/html-section/search-input.jpg");
  }
  .htmlproject-card-3 {
    @include bg-image("../../assets/images/html-section/spinner.png");
  }
  // .project-card-4 {
  //   @include bg-image("../../assets/images/html-section/html-project.jpg");
  // }
  // .project-card-5 {
  //   @include bg-image("../../assets/images/html-section/html-project.jpg");
  // }
  
  
  /* Prevent horizontal scrolling */
  body, html {
    overflow-x: hidden; /* Disable horizontal scroll */
    margin: 0; /* Ensure no default margin */
    padding: 0; 
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    left: 100px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Ensure padding does not affect width */
  }
  
  .main-heading {
    margin-bottom: 30px;
  }
  
  /* Slick Carousel Styling */
  .HtmlProjects-carousel {
    .slick-slide {
      display: flex;
      justify-content: center;
      height: auto; /* Set a height for the slide to accommodate background images */
    }
    .slick-dots li button:before {
      color: rgb(10, 72, 112);
      font-size: 12px;
    }
  
    .slick-prev, .slick-next {
      color: #0a4870;
      z-index: 1;
    }
  }
  
  /* Skill Card */
  .htmlproject-card {
    width: 100%;
    max-width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border: 3px solid rgb(255, 215, 0, 0.5);
  
  
    &:hover {
      transform: translateY(-5px);
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); // Dark overlay effect
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0; // Initially hidden
      transition: opacity 0.5s ease-in-out; // Smooth fade-in effect
    }
  
    &:hover .overlay {
      opacity: 1; // Show overlay on hover
    }

    .htmlproject-title {
      font-size: 3rem;
      color: white;
      margin-bottom: 10px;
      transform: translateY(-10px);
      opacity: 0;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  
    &:hover .htmlproject-title {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  
   .htmlproject-card .overlay {
     .htmlproject-linkgithub,
     .htmlproject-livelink {
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;
  
      &:hover {
        background: #ffd700;
        color: #333;
      }
    }
   }
  
  /* Responsive Design */
  // @media screen and (max-width: 1024px) {
  //   .container {
  //     padding: 20px; /* Keep padding for top and bottom */
  //     margin-left: 50px; /* 50px margin for left side on tablet */
  //     margin-right: 100px; /* 50px margin for right side on tablet */
  //     box-sizing: border-box; /* Ensure no overflow */
  //   }
  
  //   .project-card {
  //     width: auto; /* Allow card to resize within the available width */
  //     max-width: 80%; /* Ensures the card doesn't overflow */
  //   }
  // }
  
  @media screen and (max-width: 1024px) {
    .container {
      padding: 20px; /* Keep padding for top and bottom */
      // margin-left: 50px; /* 50px margin for left side on mobile */
      margin-right: 100px; /* 50px margin for right side on mobile */
      box-sizing: border-box; /* Ensure no overflow */
    }
  
      .htmlproject-card {
      width: auto; /* Allow card to resize within the available width */
      max-width: 100%; /* Ensure card is full-width within available space */
          .overlay{
            opacity: 1;
             .htmlproject-linkgithub{
              margin-bottom: 50px;
            }
          }
          .htmlproject-title{
            opacity: 1;
            
          }
    }
  }
  